* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Comfortaa, sans-serif;
}

a {
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template: 1fr 2fr 2fr / 1fr 2fr 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.sidebar ul {
    list-style: none;
    display: grid;
    grid-template: repeat(6, 1fr);
    gap: 20px;
    padding: 10px 40px;
    
}

.sidebar .dashboard {
    padding: 20px;
}



.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
}

.announcements {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.Trending {
    grid-column: 3 / 4;
    grid-row: 3 / 4
}