* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Comfortaa, sans-serif;
}

:root {
    --sidebar-top-margin: 80px;
}

a {
    text-decoration: none;
}



.grid-container {
    display: grid;
    grid-template: 175px 1fr / 300px 1fr;

    min-height: 100vh;
    width: 100vw;
}



.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #A0C49D;
    color: white;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 30px 30px 0 30px;
}

.sidebar .sidebar-items {
    list-style: none;
    margin-top: var(--sidebar-top-margin);
}

.sidebar-items > li {
    display: flex;
    padding: 10px 40px;
}

.sidebar-items > li > img {
    width: 26px;
}

.sidebar-items > li > a {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 20px;
} 

.dashboard-icon {
    width: 55px;
    padding-right: 10px;
}

.dashboard-icon,
.sidebar-icon {
    fill: white;
}


.main-links {
    grid-template: repeat(6, 1fr);
}

.secondary-links {
    grid-template: repeat(3, 1fr);
}


.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.tending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: center;
}
