* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Comfortaa, sans-serif;
}

:root {
    --sidebar-top-margin: 50px;
}

a {
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template: 1fr 2fr 2fr / 1fr 2fr 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.main-links {
    grid-template: repeat(6, 1fr);
}

.secondary-links {
    grid-template: repeat(3, 1fr);
}

.sidebar .sidebar-items {
    list-style: none;
    display: grid;
    gap: 20px;
    padding: 0 40px;
    margin-top: var(--sidebar-top-margin);
}

.sidebar .logo {
    padding: 20px 20px 0 20px;
}



.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
}

.announcements {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.Trending {
    grid-column: 3 / 4;
    grid-row: 3 / 4
}